<style>
div.cpw-ameeting-question2
{
	width: 600px;
	margin: 0 auto;
}
div.cpw-ameeting-question2 table
{
	width: 600px;
	margin: 20px auto;
	border-collapse:collapse;
}
div.cpw-ameeting-question2 table tr:hover
{
	background-color: #eeeeee;
}
div.cpw-ameeting-question2 table tr.title:hover
{
	background-color: inherit;
}
div.cpw-ameeting-question2 table td
{
	border: 1px solid black;
	padding-left: 5px;
}
div.cpw-ameeting-question2 table td.column1
{
	width: 30px;
	text-align: right;
	padding-right: 5px;
}
div.cpw-ameeting-question2 table td.column2 input
{
	width: 480px;
	border: 0;
	font-weight: bold;
}
div.cpw-ameeting-question2 table td.column3
{
	width: 60px;
	text-align: center;
}
div.cpw-ameeting-question2 table tr.title td
{
	text-align: center;
	font-size: inherit;
}
div.cpw-ameeting-question2 table tr.selected td
{
	font-weight: bold;
}
div.cpw-ameeting-question2 table td
{
	font-size: larger;
}
div.cpw-ameeting-question2 table.variants
{
	margin-bottom: 3px;
}
div.cpw-ameeting-question2 table.new-variant
{
	margin-top: 3px;
}
div.cpw-ameeting-question2 ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}
</style>
<div class="cpw-ameeting-question2">

	<table class="variants">
		<tr class="title">
			<td class="column1">№ п/п</td>
			<td class="column2">Вариант решения</td>
			<td class="column3">ЗА</td>
		</tr>
		<%	
			var Предложенные_варианты_length= (!obj.model || !obj.model.Предложенные_варианты) ? 0 : obj.model.Предложенные_варианты.length;
			for (i= 0; i < Предложенные_варианты_length; i++)
			{
				var вариант= obj.model.Предложенные_варианты[i];
		%>
		<tr>
			<td class="column1"><%= i+1 %></td>
			<td class="column2"><%= вариант %></td>
			<td class="column3"><input type="radio" <%= obj.radio_attrs('Выбранный_вариант',i) %>></td>
		</tr>
		<%	} %>
	</table>

	При необходимости, впишите свой вариант:

	<% var i= Предложенные_варианты_length+1; %>
	<table  class="new-variant">
		<tr>
			<td class="column1"><%= i %></td>
			<td class="column2"><input type="text" value="<%= obj.txt('Свой_вариант') %>"/></td>
			<td class="column3"><input type="radio" <%= obj.radio_attrs('Выбранный_вариант',i) %> ></td>
		</tr>
	</table>

	<p>Отметьте выбранный Вами вариант голосования.</p>

	Бюллетень, 
	<ul>
		<li>в котором не выбран ни один вариант, </li>
		<li>либо подписанный лицом, не зарегистрированным в журнале регистрации, </li>
		<li>либо неподписанный бюллетень, </li>
	</ul>
	считаются недействительными.
<div>