<style>
div.cpw-ameeting-pquestion1
{
	width: 600px;
	margin: 0 auto;
	border: 1px solid silver;
	margin: 10px;
	padding: 10px;
}
div.cpw-ameeting-pquestion1 div.title
{
	color:gray;
}
div.cpw-ameeting-pquestion1 div.value
{
	margin-left: 30px;
}
div.cpw-ameeting-pquestion1 div.row.v2 div.value
{
	font-size:large;
}
div.cpw-ameeting-pquestion1 div.row
{
	margin-bottom: 5px;
	margin-top: 5px;
}

div.cpw-ameeting-pquestion1 table
{
	width: 600px;
	margin: 20px auto;
	border-collapse:collapse;
}
div.cpw-ameeting-pquestion1 table td
{
	text-align: left;
	border: 1px solid black;
}
div.cpw-ameeting-pquestion1 table tr.title td
{
	text-align: center;
}
div.cpw-ameeting-pquestion1 table td.column1
{
	width: 30px;
	text-align: right;
	padding-right: 5px;
}
div.cpw-ameeting-pquestion1 table td.column2
{
	padding-left: 5px;
}
div.cpw-ameeting-pquestion1 table td.column3
{
	text-align: center;
}
div.cpw-ameeting-pquestion1 ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}
</style>
<div class="cpw-ameeting-pquestion1">

	<% if (obj.Должник) { %>
	<div class="row v0">
		<div class="title">Собрание кредиторов должника:</div>
		<div class="value"><%= obj.Должник %><% if (0) {%>ООО УК "Светлый город"<% } %></div>
	</div>

	<div class="row v1">
		<div class="title">Участик собрания:</div>
		<div class="value"><%= obj.Участник_собрания %><% if (0) {%>ООО Роги и ноги<% } %></div>
	</div>

	<div class="row v1">
		<div class="title">Сумма требований:</div>
		<div class="value"><%= obj.Сумма_требований %><% if (0) {%>10000 рублей<% } %></div>
	</div>
	<% } else { %>
	<div class="row v1">
		<div class="title">Арбитражный управляющий:</div>
		<div class="value">
			<%= obj.АУ.Фамилия %> <%= obj.АУ.Имя %> <%= obj.АУ.Отчество %><% if (0) { %>Иванов Иван Иванович<% } %>
		</div>
	</div>
	<div class="row v1">
		<div class="title">Номер по ЕФРСБ:</div>
		<div class="value"><%= obj.АУ.Номер_в_ЕФРСБ %><% if (0) { %>2345534<% } %></div>
	</div>
	<% } %>

	<div class="row v2">
		<div class="title">Вопрос:</div>
		<div class="value"><%= obj.Вопрос %><% if (0) {%>Образовать комитет кредитора<% } %></div>
	</div>

	<table class="variants">
		<tr class="title">
			<td class="column1">№ п/п</td>
			<td class="column2">Вариант решения</td>
			<td class="column3">ЗА</td>
		</tr>
		<%
			var ответ_стандартный= false;
			var Предложенные_варианты_length= (!obj || !obj.Предложенные_варианты) ? 0 : obj.Предложенные_варианты.length;
			for (i= 0; i < Предложенные_варианты_length; i++)
			{
				var вариант= obj.Предложенные_варианты[i];
		%>
		<tr>
			<td class="column1"><%= i+1 %><% if (0) { %>1<% } %></td>
			<td class="column2"><%= вариант %><% if (0) { %>Камень<% } %></td>
			<td class="column3"><% if (вариант==obj.Ответ) { ответ_стандартный= true; %>&#10004;<% } %></td>
		</tr>
		<%	} %>
		<%	if (!ответ_стандартный) { %>
		<tr>
			<td class="column1"><%= Предложенные_варианты_length %><% if (0) { %>1<% } %></td>
			<td class="column2"><%= obj.Ответ %><% if (0) { %>Ножницы<% } %></td>
			<td class="column3">&#10004;</td>
		</tr>
		<%	} %>
	</table>

	Бюллетень, 
	<ul>
		<li>в котором не выбран ни один вариант, </li>
		<li>либо подписанный лицом, не зарегистрированным в журнале регистрации, </li>
		<li>либо неподписанный бюллетень, </li>
	</ul>
	считаются недействительными.

<div>