<style>
div.cpw-ameeting-question0
{
	width: 800px;
	margin: 0 auto;
}
div.cpw-ameeting-question0 div.title
{
	color:gray;
}
div.cpw-ameeting-question0 div.value
{
	margin-left: 30px;
}
div.cpw-ameeting-question0 div.row.v2 div.value
{
	font-size:large;
}
div.cpw-ameeting-question0 div.row
{
	margin-bottom: 5px;
	margin-top: 5px;
}

div.cpw-ameeting-question0 table
{
	width: 600px;
	margin: 20px auto;
	border-collapse:collapse;
}
div.cpw-ameeting-question0 table td
{
	text-align: center;
	border: 1px solid black;
	font-size:larger;
	width: 33%;
}
div.cpw-ameeting-question0 ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}
</style>
<div class="cpw-ameeting-question0">
	<!--
	<div class="row v0">
		<div class="title">Собрание кредиторов должника:</div>
		<div class="value"><%= !obj.model ? '' : obj.model.Должник %><% if (0) {%>ООО УК "Светлый город"<% } %></div>
	</div>

	<div class="row v1">
		<div class="title">Участик собрания:</div>
		<div class="value"><%= !obj.model ? '' : obj.model.Участник_собрания %><% if (0) {%>ООО Роги и ноги<% } %></div>
	</div>

	<div class="row v1">
		<div class="title">Сумма требований:</div>
		<div class="value"><%= !obj.model ? '' : obj.model.Сумма_требований %><% if (0) {%>10000 рублей<% } %></div>
	</div>
	-->
	<div class="row v2">
		<div class="title">Вопрос:</div>
		<div class="value"><%= !obj.model ? '' : obj.model.Вопрос %><% if (0) {%>Образовать комитет кредитора<% } %></div>
	</div>
<div>