<% if (obj) { %>
<style>
div.cpw-ameeting-documents div.row
{
	width: 600px;
	display: inline-block;
}
div.cpw-ameeting-documents div.row button
{
	float: right;
}
div.cpw-ameeting-documents td.num { width: 20px; }
div.cpw-ameeting-documents td.time { width: 180px; }
div.cpw-ameeting-documents td.type { width: 80px; }
div.cpw-ameeting-documents td.form { width: 200px; }
div.cpw-ameeting-documents td.answer { width: 100px; }
</style>
<div class="cpw-ameeting-documents">
	<div class="row">
		<button class="read">Обновить</button>
		Переписка:
	</div>
	<table>
		<%  if (obj && null!=obj && 0!=obj.length) { %>
			<%	for (var i= 0; i < obj.length; i++)
				{
					var document= obj[i];
					var rid= 'cpw-forms-ama-meeting-question-doc' + i;
			%>
			<tr>
				<td class="radio">
					<input type="radio" id="<%= rid %>" name="idocument" class='idocument' value="<%= i %>" />
				</td>
				<td class="num">
					<label for="<%= rid %>"><%= i + 1 %><% if (0) {%>99<% } %>)</label>
				</td>
				<td class="time">
					<label for="<%= rid %>">
						<%= document.time %><% if (0) {%>16 июня 2017 г. 13:11:56<% } %>
					</label>
				</td>
				<td class="type">
					<label for="<%= rid %>">
						<%= 
							'in'  ==document.type    ? 'входящее' :
							'out' ==document.type    ? 'исходящее' :
							''
						%><% if (0) {%>исходящее<% } %>
					</label>
				</td>
				<td class="form">
					<label for="<%= rid %>">
						<%= 
							'bulleten'==document.form    ? 'Бюллетень' :
							'declaration'==document.form ? 'Публикация' :
							'receipt'==document.form ? 'Квитанция' :
							'Документ'
						%><% if (0) {%>Декларация о регистрации бюллетеня<% } %> 
					</label>
				</td>
				<td class="answer">
					<label for="<%= rid %>">
						<% if (document.content && document.content.api && document.content.api.Ответ) { %>
							<%= document.content.api.Ответ %><% if (0) {%>против<% } %>
						<% } %>
					</label>
				</td>
			</tr>
			<%  } %>
			
		<%  } %>
	</table>
	<div class="document">
		<div class="content"></div>
	</div>
</div>
<% } %>