<style>

div.cpw-ameeting-main-envelope
{
	width: 800px;
	margin: 0 auto;
}

div.cpw-ameeting-main div.buttons
{
	width: 100%;
	text-align: right;
}

div.cpw-ameeting-main div.buttons button
{
	margin: 5px;
}

div.cpw-ameeting-main tr.jqgrow
{
	cursor: pointer;
}

div.cpw-ameeting-main-envelope.open > div.cpw-ameeting-main { display: none; }
div.cpw-ameeting-main-envelope > .close { display: none; }
div.cpw-ameeting-main-envelope.open > .close { display: inline-block; }

div.cpw-ameeting-main-envelope > div.meeting
{
	display: none;
	width: 100%;
}

div.cpw-ameeting-main-envelope.open > div.meeting
{
	display: inline-block;
}

</style>
<div class="cpw-ameeting-main-envelope">

	<a class="close" href="#">Голосования</a>

	<div class="cpw-ameeting-main">

		<div class="title">Голосования</div>

		<div class="buttons">
			<button class="request">Запросить участие в собрании без полученного уведомления</button>
			<!--
			<button class="to-meeting">Перейти на страницу собрания</button>
			-->
		</div>

		<table id="cpw-ameeting-meetings-paged-grid" class="grid"></table>
		<div id="gridPager"></div>
	</div>

	<div class="meeting"></div>

</div>