﻿<style>
div.cpw-forms-ameeting-document div.row
{
	width: 800px;
	display: inline-block;
	margin-top: 3px;
	margin-bottom: 3px;
}
div.cpw-forms-ameeting-document div.title
{
	color: silver;
	display: inline-block;
}
div.cpw-forms-ameeting-document div.row > div.title
{
	width: 100px;
}
div.cpw-forms-ameeting-document div.form-content div.row > div.title
{
	width: 100%;
}
div.cpw-forms-ameeting-document div.row div.value
{
	display: inline-block;
}
div.cpw-forms-ameeting-document div.content
{
	border: 1px solid black;
	background: silver;
	padding: 5px;
	display: inline-block
}
</style>
<div class="cpw-forms-ameeting-document">
	<div class="header">
		<div class="row">
			<div class="title">Отправитель:</div>
			<div class="value">
				<% var cr= obj.model.from; %>
				<%= cr.В_лице.Name %><% if (0) { %>Иванов И И<% } %> 
				(<%= cr.Абонент.Наименование %><% if (0) { %>Роги и ноги<% } %> )
			</div>
		</div>
		<div class="row">
			<div class="title">Получатели:</div>
			<div class="value">
				<%
					var rlist= obj.model.to.Полный_список;
					for (var i= 0; i < rlist.length; i++)
					{ 
						var cr= rlist[i];
				%>
					<%= cr.В_лице.Name %><% if (0) { %>Иванов И И<% } %> 
					(<%= cr.Абонент.Наименование %><% if (0) { %>Роги и ноги<% } %> )
				<%	} %>
			</div>
		</div>
	</div>
	<div class="form-content">
		<div class="row">
			<div class="title">Формализованный документ:</div>
		</div>
		<div class="content"><%= obj.model.content.html %><% if (0) { %>какой то html с тэгами, например <b>жирный текст</b>.<% } %></div>
	</div>
	<div class="row">
		<div class="title">Подписи:</div>
		<div class="value">
			<%
				var rlist= obj.model.Подписи;
				for (var i= 0; i < rlist.length; i++)
				{ 
					var cr= rlist[i];
			%>
				<%= cr.Name %><% if (0) { %>Иванов И И<% } %> 
				(<%= cr.Представитель %><% if (0) { %>Роги и ноги<% } %> )
			<%	} %>
		</div>
	</div>
</div>