<style>
div.cpw-ameeting-question-envelope
{
	width: 600px;
	margin: 0 auto;
}

div.cpw-ameeting-question-envelope div.choosing button.sign
{
	float: right;
}

div.cpw-ameeting-question-envelope div.choosing div.cpw-ameeting-question0,
div.cpw-ameeting-question-envelope div.choosing div.cpw-ameeting-question1,
div.cpw-ameeting-question-envelope div.choosing div.cpw-ameeting-question2
{
	width: 600px;
}

div.cpw-ameeting-question-envelope         > div.sending  { display: none; }
div.cpw-ameeting-question-envelope.sending > div.sending  { display: inline-block; }

div.cpw-ameeting-question-envelope          > div.choosing { display: none; }
div.cpw-ameeting-question-envelope.choosing > div.choosing { display: inline-block; }
</style>
<div class="cpw-ameeting-question-envelope choosing">

	<div class="question">
		<%= obj.fields_control('question0') %>
	</div>

	<div class="documents"></div>

	<div class="choosing">
		<div class="blank1" style="display:none"><%= obj.fields_control('question1') %></div>
		<div class="blank2" style="display:none"><%= obj.fields_control('question2') %></div>
		<button class="sign">Перейти к подписанию</button>
	</div>

	<div class="sending">
		Подписываемый электронный документ (в рамке):
		<div class="content">
			Тут должна отобразиться печатная форма подписываемого заполненного бюллетеня.
			Если не отобразилась, значит что то идёт не так.
		</div>
		<button class="send" style="float:right;">Подписать и отправить</button>
		<button class="select">Вернуться к выбору варианта ответа</button> 
	</div>

</div>