<style>
div.cpw-ameeting-pdeclaration
{
	width: 600px;
	margin: 0 auto;
	border: 1px solid silver;
	margin: 10px;
	padding: 10px;
}
div.cpw-ameeting-pdeclaration div.title
{
	color:gray;
}
div.cpw-ameeting-pdeclaration div.value
{
	margin-left: 30px;
}
div.cpw-ameeting-pdeclaration div.row.v2 div.value
{
	font-size:large;
}
div.cpw-ameeting-pdeclaration div.row
{
	margin-bottom: 5px;
	margin-top: 5px;
}

</style>
<div class="cpw-ameeting-pdeclaration">

	<p>
		Заполненный бюллетень голосования получен 10.01.2017 <br>
		и зарегистрирован за номером 1.
	</p>

	<% if (obj.Должник) { %>
	<div class="row v0">
		<div class="title">Собрание кредиторов должника:</div>
		<div class="value"><%= obj.Должник %><% if (0) {%>ООО УК "Светлый город"<% } %></div>
	</div>

	<div class="row v1">
		<div class="title">Участик собрания:</div>
		<div class="value"><%= obj.Участник_собрания %><% if (0) {%>ООО Роги и ноги<% } %></div>
	</div>

	<div class="row v1">
		<div class="title">Сумма требований:</div>
		<div class="value"><%= obj.Сумма_требований %><% if (0) {%>10000 рублей<% } %></div>
	</div>
	<% } else { %>
	<div class="row v1">
		<div class="title">Арбитражный управляющий:</div>
		<div class="value">
			<%= obj.АУ.Фамилия %> <%= obj.АУ.Имя %> <%= obj.АУ.Отчество %><% if (0) { %>Иванов Иван Иванович<% } %>
		</div>
	</div>
	<div class="row v1">
		<div class="title">Номенр по ЕФРСБ:</div>
		<div class="value"><%= obj.АУ.Номер_в_ЕФРСБ %><% if (0) { %>2345534<% } %></div>
	</div>
	<% } %>

	<div class="row v2">
		<div class="title">Вопрос:</div>
		<div class="value"><%= obj.Вопрос %><% if (0) {%>Образовать комитет кредитора<% } %></div>
	</div>

	<div class="row v2">
		<div class="title">Зарегистрированный ответ:</div>
		<div class="value"><%= obj.Ответ %><% if (0) {%>За<% } %></div>
	</div>

<div>