<style>

div.cpw-ameeting-meeting
{
	width: 800px;
	margin: 0 auto;
}

div.cpw-ameeting-meeting table.questions
{
	width: 100%;
}

div.cpw-ameeting-meeting table.questions tr.question:hover
{
	background-color: #f7f7f7;
	cursor: pointer;
}

div.cpw-ameeting-meeting > div.title
{
	margin-left: 50px;
}

div.cpw-ameeting-meeting-envelope.open > div.cpw-ameeting-meeting { display: none; }
div.cpw-ameeting-meeting-envelope > .close
{
	display: none;
	margin-left: 50px;
}
div.cpw-ameeting-meeting-envelope.open > .close { display: inline-block; }

div.cpw-ameeting-meeting-envelope > div.question
{
	display: none;
	width: 100%;
}

div.cpw-ameeting-meeting-envelope.open > div.question
{
	display: inline-block;
}
div.cpw-ameeting-meeting-envelope tr.header td
{
	font-size: small;
	color: silver;
}
</style>
<div class="cpw-ameeting-meeting-envelope">

	<a class="close" href="#">
		<%= obj.model.Дата %><% if (0) { %>3.2.2002<% } %> &mdash; 
		<% if (obj.model.Должник) { %>
			<span>Собрание кредиторов </span> 
			<b>"<%= obj.model.Должник.Наименование %><% if (0) { %>ООО «УК «Светлый город» <% } %>"</b> 
		<% } else { %>
			<span>Голосование</span> 
			<b>"<%= obj.model.Наименование %><% if (0) { %>Зимняя сессия <% } %>"</b> 
		<% } %>
	</a>

	<div class="cpw-ameeting-meeting">

		<div class="title">
			<%= obj.model.Дата %><% if (0) { %>3.2.2002<% } %> &mdash; 
			<% if (obj.model.Должник) { %>
				<span>Собрание кредиторов </span> 
				<b>"<%= obj.model.Должник.Наименование %><% if (0) { %>ООО «УК «Светлый город» <% } %>"</b> 
			<% } else { %>
				<span>Голосование</span> 
				<b>"<%= obj.model.Наименование %><% if (0) { %>Зимняя сессия <% } %>"</b> 
			<% } %>
		</div>

		<% if (!obj.model.Должник) { %>
		<!--
		<p>
			Арбитражный управляющий: 
			<b><%= obj.model.АУ.Фамилия %> <%= obj.model.АУ.Имя %> <%= obj.model.АУ.Отчество %><% if (0) { %>Иванов Иван Иванович<% } %></b> 
				(Номер по ЕФРСБ: <%= obj.model.АУ.Номер_в_ЕФРСБ %><% if (0) { %>2345534<% } %>)
		</p>
		-->
		<% } else { %>
		<p>
			Должник: 
			<b><%= obj.model.Должник.Наименование %><% if (0) { %>ООО «УК «Светлый город» <% } %></b> 
				(ОГРН <%= obj.model.Должник.ОГРН %><% if (0) { %>1101840007312<% } %>, 
				ИНН <%= obj.model.Должник.ИНН %><% if (0) { %>1833058504<% } %>, 
				адрес <%= obj.model.Должник.Адрес %><% if (0) { %>ул. Кирова, 172, блок 14, г. Ижевск, УР<% } %>)
		</p>

		<p>
			Временный управляющий: 
			<b><%= obj.model.АУ.Фамилия %> <%= obj.model.АУ.Имя %> <%= obj.model.АУ.Отчество %><% if (0) { %>Иванов Иван Иванович<% } %></b> 
				(ИНН <%= obj.model.АУ.ИНН %><% if (0) { %>000000000000<% } %>, 
				СНИЛС <%= obj.model.АУ.СНИЛС %><% if (0) { %>000-000-000-00<% } %>)
		</p>
		<% } %>

		Вопросы:
		<table class="questions">
			<tr class="header">
				<td>№</td>
				<td>Вопрос:</td>
				<td>Состояние:</td>
			</tr>
			<%	for (var i= 0; i < obj.model.Вопросы.length; i++) 
				{
					var q= obj.model.Вопросы[i];
			%>
			<tr class="question" number="<%= i %>">
				<td><%= i+1 %><% if (0) {%>1<% } %>)</td>
				<td><a href="#"><%= q.Вопрос %><% if (0) {%>Положение индейцев в Гондурасе<% } %></a></td>
				<td></td>
			</tr>
			<%	} %>
		</table>
	</div>

	<div class="question"></div>

</div>