<style>
div.cpw-ameeting-question1
{
	width: 600px;
	margin: 0 auto;
}
div.cpw-ameeting-question1 table
{
	width: 600px;
	margin: 20px auto;
	border-collapse:collapse;
}
div.cpw-ameeting-question1 table td
{
	text-align: center;
	border: 1px solid black;
	font-size:larger;
	width: 33%;
}
div.cpw-ameeting-question1 table td:hover
{
	background-color: #eeeeee;
}
div.cpw-ameeting-question1 div.container { position: relative; }
div.cpw-ameeting-question1 table label,
div.cpw-ameeting-question1 table input
{
	width: 100%;
	display: inline-block;
}
div.cpw-ameeting-question1 table td:hover:after
{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	background: #cfc;
	z-index: -1;
}
div.cpw-ameeting-question1 ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}
</style>
<div class="cpw-ameeting-question1">

	<div class="tcontainer">
	<table>
		<tr>
			<td><label for="question0-radio-vote-yes">За</label></td>
			<td><label for="question0-radio-vote-no">Против</label></td>
			<td><label for="question0-radio-vote-cancel">Воздержался</label></td>
		</tr>
		<tr>
			<td><input type="radio" <%= obj.radio_attrs('Ответ','За') %> id="question0-radio-vote-yes"/></td>
			<td><input type="radio" <%= obj.radio_attrs('Ответ','Против') %> id="question0-radio-vote-no"/></td>
			<td><input type="radio" <%= obj.radio_attrs('Ответ','Воздержался') %> id="question0-radio-vote-cancel"/></td>
		</tr>
	</table>
	</div>

	<p>
		Отметьте выбранный Вами вариант голосования.
	</p>
	Бюллетень, 
	<ul>
		<li>в котором не выбран ни один вариант, </li>
		<li>либо подписанный лицом, не зарегистрированным в журнале регистрации, </li>
		<li>либо неподписанный бюллетень, </li>
	</ul>
	считаются недействительными.
<div>