<style>
div.cpw-ameeting-pquestion1
{
	width: 600px;
	margin: 0 auto;
	border: 1px solid silver;
	margin: 10px;
	padding: 10px;
}
div.cpw-ameeting-pquestion1 div.title
{
	color:gray;
}
div.cpw-ameeting-pquestion1 div.value
{
	margin-left: 30px;
}
div.cpw-ameeting-pquestion1 div.row.v2 div.value
{
	font-size:large;
}
div.cpw-ameeting-pquestion1 div.row
{
	margin-bottom: 5px;
	margin-top: 5px;
}

div.cpw-ameeting-pquestion1 table
{
	width: 600px;
	margin: 20px auto;
	border-collapse:collapse;
}
div.cpw-ameeting-pquestion1 table td
{
	text-align: center;
	border: 1px solid black;
	font-size:larger;
	width: 33%;
}
div.cpw-ameeting-pquestion1 ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}
</style>
<div class="cpw-ameeting-pquestion1">

	<% if (obj.Должник) { %>
	<div class="row v0">
		<div class="title">Собрание кредиторов должника:</div>
		<div class="value"><%= obj.Должник %><% if (0) {%>ООО УК "Светлый город"<% } %></div>
	</div>

	<div class="row v1">
		<div class="title">Участик собрания:</div>
		<div class="value"><%= obj.Участник_собрания %><% if (0) {%>ООО Роги и ноги<% } %></div>
	</div>

	<div class="row v1">
		<div class="title">Сумма требований:</div>
		<div class="value"><%= obj.Сумма_требований %><% if (0) {%>10000 рублей<% } %></div>
	</div>
	<% } else { %>
	<div class="row v1">
		<div class="title">Арбитражный управляющий:</div>
		<div class="value">
			<%= obj.АУ.Фамилия %> <%= obj.АУ.Имя %> <%= obj.АУ.Отчество %><% if (0) { %>Иванов Иван Иванович<% } %>
		</div>
	</div>
	<div class="row v1">
		<div class="title">Номенр по ЕФРСБ:</div>
		<div class="value"><%= obj.АУ.Номер_в_ЕФРСБ %><% if (0) { %>2345534<% } %></div>
	</div>
	<% } %>

	<div class="row v2">
		<div class="title">Вопрос:</div>
		<div class="value"><%= obj.Вопрос %><% if (0) {%>Образовать комитет кредитора<% } %></div>
	</div>

	<table>
		<tr>
			<td><label for="question0-radio-vote-yes">За</label></td>
			<td><label for="question0-radio-vote-no">Против</label></td>
			<td><label for="question0-radio-vote-cancel">Воздержался</label></td>
		</tr>
		<tr>
			<td><% if ('За'==obj.Ответ) { %>&#10004;<% } else { %>&nbsp;<% } %></td>
			<td><% if ('Против'==obj.Ответ) { %>&#10004;<% } else { %>&nbsp;<% } %></td>
			<td><% if ('Воздержался'==obj.Ответ) { %>&#10004;<% } else { %>&nbsp;<% } %></td>
		</tr>
	</table>

	Бюллетень, 
	<ul>
		<li>в котором не выбран ни один вариант, </li>
		<li>либо подписанный лицом, не зарегистрированным в журнале регистрации, </li>
		<li>либо неподписанный бюллетень, </li>
	</ul>
	считаются недействительными.

<div>